body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/177/168/original/bonfire.jpg?1767621648");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  font-family: monospace;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 1000;
  font-size: 58px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 800px;
  border-radius: 50px;
  box-shadow: 1px 1px 20px white;
  margin-top: 1px;
  padding-top: 1px;
}
.winter-head {
  display: flex;
  justify-content: end;
  margin-top: 90px;
}
a {
  color: #5c9ac2;
}
small {
  display: block;
  color: white;
}
.code-credit {
  text-align: center;
  border-top: 2px solid #46425b;
  color: rgb(255, 255, 255, 0.5);
  padding: 15px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.purple-box1 {
  background-color: rgb(0, 0, 0, 0.8);
  line-height: 30px;
  width: 500px;
  border: 10px solid rgb(70, 66, 91, 0.3);
  border-radius: 5px;
  margin: 30px;
  height: 200px;
  color: white;
  box-shadow: 1px 1px 20px white;
  text-align: center;
  transition: 500ms;
}
.red-box2 {
  background-color: rgb(0, 0, 0, 0.8);
  line-height: 30px;
  width: 500px;
  border-radius: 5px;
  border: 10px solid rgb(70, 66, 91, 0.3);
  margin: 30px;
  height: 200px;
  color: white;
  box-shadow: 1px 1px 20px white;
  text-align: center;
  transition: 500ms;
}
.blue-box3 {
  background-color: rgb(0, 0, 0, 0.8);
  width: 500px;
  border: 10px solid rgb(70, 66, 91, 0.3);
  border-radius: 5px;
  margin: 30px;
  height: 200px;
  color: white;
  box-shadow: 1px 1px 20px white;
  text-align: center;
  line-height: 30px;
  transition: 500ms;
}
.purple-box1:hover {
  background-color: rgb(92, 154, 194);

  border-radius: 10px;
  box-shadow: 1px 1px 20px white;
  padding: 2px;
}
.red-box2:hover {
  background-color: #5c9ac2;

  border-radius: 10px;
  box-shadow: 1px 1px 20px white;
}
.blue-box3:hover {
  background-color: #5c9ac2;

  border-radius: 10px;
  box-shadow: 1px 1px 20px white;
}
.grid {
  display: grid;
}
.form-container {
  display: flex;
  justify-content: end;
  margin: 50px auto;
}
#form-input {
  width: 600px;
  padding: 15px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px white;
  border: none;
  text-align: center;
  transition: 900ms;
  opacity: 0.8;
}
#form-input:hover {
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
}

#form-submit {
  width: 250px;
  padding: 15px;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px white;
  border: none;
  transition: 900ms;
  opacity: 0.8;
}
#form-submit:hover {
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
}
