body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/177/168/original/bonfire.jpg?1767621648");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 1000;
  font-size: 58px;
  background-color: rgb(0, 0, 0, 0.8);
  width: 800px;
  border-radius: 50px;
}
.winter-head {
  display: flex;
  justify-content: end;
  margin-top: 90px;
}
a {
  color: #5c9ac2;
}
.code-credit {
  text-align: center;
  border-top: 2px solid #46425b;
  color: rgb(255, 255, 255, 0.5);
  padding: 15px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.purple-box1 {
  background-color: rgb(0, 0, 0, 0.8);
  width: 500px;
  border: 10px solid rgb(70, 66, 91, 0.3);
  border-radius: 5px;
  margin: 30px;
  height: 200px;
  color: white;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
  transition: 200ms;
}
.red-box2 {
  background-color: rgb(0, 0, 0, 0.8);
  width: 500px;
  border-radius: 5px;
  border: 10px solid rgb(70, 66, 91, 0.3);
  margin: 30px;
  height: 200px;
  color: white;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
}
.blue-box3 {
  background-color: rgb(0, 0, 0, 0.8);
  width: 500px;
  border: 10px solid rgb(70, 66, 91, 0.3);
  border-radius: 5px;
  margin: 30px;
  height: 200px;
  color: white;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
}
.purple-box1:hover {
  background-color: #5c9ac2;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px 5px;
}
.red-box2:hover {
  background-color: #5c9ac2;

  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px 5px;
}
.blue-box3:hover {
  background-color: #5c9ac2;
  border: none;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
}
